.aboutWrapper {
  margin: 5vh auto;
  max-width: 90%;
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: 1fr 2fr; /* Proportional layout for image and text */
  align-items: center; /* Ensures alignment for vertical centering */
}

.aboutWrapper img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  padding: 10px;
  border-radius: 17px; /* Slightly rounded corners */
}

.aboutWrapper a {
  color: var(--color-green-3);
  text-decoration: none;
}

.aboutWrapper a:hover {
  cursor: pointer;
  color: var(--color-green-4);
  text-decoration: underline;
}

.aboutText {
  font-size: 1.5rem;
  margin: 0 5vw;
}

@media (max-width: 1100px) {
  .aboutWrapper {
    display: flex;
    flex-direction: column; /* Stack the image and text */
    margin: 0 auto;
    max-width: 95%;
    gap: 1.5rem; /* Add spacing between stacked items */
  }

  .aboutWrapper img {
    width: 80%; /* Resize image for smaller screens */
    margin: 0 auto; /* Center the image */
  }

  .aboutText {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
    margin: 0 2rem;
    text-align: center; /* Center-align text */
  }
}
