.container {
  padding: 0 2rem;
}

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.heroNameWrapper {
  color: #181818;
  z-index: 200;
  text-align: center;
  word-break: break-all;
}

.headline {
  font-size: 15rem;
  font-weight: 100;
  line-height: 0.5;
}

.headline::first-letter {
  font-size: 20rem;
}

.subHeadline {
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--color-bg-primary);
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overflow {
  height: 200vh;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.timelineItem {
  display: grid;
  grid-template-columns: 1fr 1px 2fr;
  grid-gap: 10px;
  margin-bottom: 2rem;
}

.timelineItemDescription {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 300px) {
  .timelineItem {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .headline {
    font-size: 6rem;
  }
  .headline::first-letter {
    font-size: 10rem;
  }
  .subHeadline {
    font-size: 5;
  }
  .timelineItem {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .headline {
    font-size: 10rem;
  }
  .headline::first-letter {
    font-size: 15rem;
  }
  .subHeadline {
    font-size: 8;
  }
  .timelineItem {
    display: grid;
    grid-template-columns: 1fr 1px 2fr;
    grid-gap: 10px;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1100px) {
  .timelineItem {
    display: grid;
    grid-template-columns: 1fr 1px 2fr;
    grid-gap: 10px;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1300px) {
  .timelineItem {
    display: grid;
    grid-template-columns: 1fr 1px 2fr;
    grid-gap: 10px;
    margin-bottom: 2rem;
  }
}
